<p>
  <%= label_tag "name" %>:
  <%= guest.name %>
</p>
<p>
  <%= label_tag "surname" %>:
  <%= guest.surname %>
</p>
<p>
  <%= label_tag "gender" %>:
  <%= guest.gender %>
</p>
<p>
  <%= label_tag "date_of_birth" %>:
  <%= guest.date_of_birth %>
</p>
<p>
  <%= label_tag "country_of_birth" %>:
  <%= guest.country_of_birth %>
</p>
<p>
  <%= label_tag "nationality" %>:
  <%= guest.nationality %>
</p>
<p>
  <%= label_tag "passport_number" %>:
  <%= guest.passport_number %>
</p>
<p>
  <%= label_tag "group_leader" %>:
  <%= guest.group_leader %>
</p>
<hr>
