<%= form_for([@reservation, @reservation.guests.build],remote: true, :html => {:required => true}) do |f| %>
  <p>
    <%= f.hidden_field :reservation_id %>
    <p>
      <%= f.label "Check In Date: " %>
      <%= f.date_field :checkin_date, value: @default_checkin_date, required: true, min: Date.yesterday, max: Date.today %>
    </p>
    <p>
      <%= f.label "Check Out Date: " %>
      <%= f.date_field :checkout_date, value: @default_checkout_date,required: true %>
    </p>
    <p>
      <%= f.label "name: " %>
      <%= f.text_field :name, required: true %>
    </p>
    <p>
      <%= f.label "surname: " %>
      <%= f.text_field :surname, required: true %>
    </p>
    <p>
      <%= f.label "gender: " %>
      <%= f.select :gender,  ["Male", "Female"], required: true %>
    </p>
    <p>
      <%= f.label "date_of_birth: " %>
      <%= f.date_field :date_of_birth, required: true %>
    </p>
    <p>
      <%= f.label "country_of_birth: " %>
      <%= f.select :country_of_birth,  ["Italy"], required: true %>
    </p>
    <p>
      <%= f.label "nationality: " %>
      <%= f.select :nationality,  ["Italy"], required: true %>
    </p>
    <p>
      <%= f.check_box :group_leader, {checked: false, hidden: true} %>
    </p>

    <%= f.submit "Add Guest + "%>
  </p>
<% end %>


