<p><%= @current_user.name%>'s Property Reservations List </p>
<table class="table table-dark table-striped">
  <thead class="thead-light">
    <tr>
      <th>Property</th>
      <th>Check In</th>
      <th>Check Out</th>
      <th>Guest</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.property.name  %></td>
        <td><%= reservation.checkin_date %></td>
        <td><%= reservation.checkout_date %></td>
        <td><%= reservation.guests.leader.last.full_name + " and Others"  %></td>
        <td><%= link_to 'Show', reservation_path(reservation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Add New Guest Reservations', new_reservation_path %>
