
<%= form_for @reservation, url: reservations_path do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@reservation.errors.count, "error") %> prohibited
        this reservation from being saved:
      </h2>
      <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <p>
      <%= f.label "Property: " %>
      <%= f.select :property_id, @properties.collect { |p| [ p.name, p.id ] }, include_blank: false %>
    </p>
    <p> Main Guest Info: </p>
      <%= f.fields_for :guest do |guest| %>
        <p>
          <%= guest.label "Check In Date: " %>
          <%= guest.date_field :checkin_date, required: true, min: Date.yesterday, max: Date.today %>
        </p>
        <p>
          <%= guest.label "Check Out Date: " %>
          <%= guest.date_field :checkout_date, required: true %>
        </p>
        <p>
          <%= guest.label "name: " %>
          <%= guest.text_field :name, required: true %>
        </p>
        <p>
          <%= guest.label "surname: " %>
          <%= guest.text_field :surname, required: true %>
        </p>
        <p>
          <%= guest.label "gender: " %>
          <%= guest.select :gender,  ["Male", "Female"], required: true %>
        </p>
        <p>
          <%= guest.label "date_of_birth: " %>
          <%= guest.date_field :date_of_birth, required: true %>
        </p>
        <p>
          <%= guest.label "country_of_birth: " %>
          <%= guest.select :country_of_birth,  ["Italy"], required: true %>
        </p>
        <p>
          <%= guest.label "nationality: " %>
          <%= guest.select :nationality,  ["Italy"], required: true %>
        </p>
        <p>
          <%= guest.label "passport_number: " %>
          <%= guest.text_field :passport_number, required: true %>
        </p>
        <p>
          <%= guest.label "email_address: " %>
          <%= guest.email_field :email_address, required: true %>
        </p>
        <p>
          <b><%= guest.label "group_leader: " %></b>
          <%= guest.check_box :group_leader %>
        </p>
      <% end %>
  <p>
    <%= f.submit %>
  </p>

<% end %>

<h3><%= link_to 'Home', root_path %></h3>
