<p>
  <%= label_tag :property %>:
  <%= @reservation.property.name %>
</p>
<hr>

<p>Guests Info: </p>
<div class="guest_infos_container">
  <% @reservation.guests.reverse.each do |guest| %>
    <div>
      <p>
        <%= label_tag :checkin_date %>:
        <%= guest.checkin_date %>
      </p>

      <p>
        <%= label_tag :checkout_date %>:
        <%= guest.checkout_date %>
      </p>
      <p>
        <%= label_tag "name" %>:
        <%= guest.name %>
      </p>
      <p>
        <%= label_tag "surname" %>:
        <%= guest.surname %>
      </p>
      <p>
        <%= label_tag "gender" %>:
        <%= guest.gender %>
      </p>
      <p>
        <%= label_tag "date_of_birth" %>:
        <%= guest.date_of_birth %>
      </p>
      <p>
        <%= label_tag "country_of_birth" %>:
        <%= guest.country_of_birth %>
      </p>
      <p>
        <%= label_tag "nationality" %>:
        <%= guest.nationality %>
      </p>
      <p>
        <%= label_tag "passport_number" %>:
        <%= guest.passport_number %>
      </p>
      <p>
        <%= label_tag "group_leader" %>:
        <%= guest.group_leader %>
      </p>
      <hr>
    </div>
  <% end %>
</div>
<% if @reservation.guests.pluck(:synced_to_police_portal).any? %>
  <h4>Already Synced to Police Portal ! </h4>
<% elsif @reservation.guests.leader.pending_sync.any? %>
  <h5>Add More Guest to Reservation </h5>
  <%= render 'add_guest_form' %>
<% end %>
<hr>
<% if !@reservation.contract_signed? %>
  <h4>Police Portal and Contract Info.</h4>
  <p>
    <%= button_to 'Submit and Sync', reservation_submit_path(@reservation) %>
    Click 'Submit and Sync' to Sync to Police Portal and/or Generate Contract.
  </p>
<% else %>
  <b>
    Already Signed Contract
    <%= button_to 'Download Contract', reservation_download_contract_path(@reservation) %>
  </b>
<% end %>

<h3><%= link_to 'Home', root_path %></h3>
